@import url(https://fonts.googleapis.com/css?family=Montserrat:400,600,800);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);

#destacados {
  width: 100%;
  display: flex;
  align-items: center;
}
.destacados {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 35px;
  padding: 0 150px;
  margin: 80px 0;
  text-align: left;
}
.destacados h1 {
  text-align: left;
  font-family: "Montserrat, sans-serif";
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 1px;
}
.tarjetasDestacados {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 35px;
  padding: 0 150px;
  margin-bottom: 150px;
}
.filtro input {
  font-family: "Lato, sans-serif";
  font-size: 15px;
  color: rgb(46, 46, 46);
  width: 150px;
  padding: 3px;
  border: 0.5px solid rgb(201, 199, 199);
  font-weight: 300;
  letter-spacing: 1px;
}
@media screen and (max-width: 750px) {
  .destacados {
    width: 100%;
    gap: 10px;
    padding: 0 15px;
    margin: 80px 0 50 0;
  }

  .tarjetasDestacados {
    gap: 15px;
    padding: 0 10px;
    margin-bottom: 100px;
  }
  .destacados h1 {
    font-size: 22px;
  }
  .filtro label {
    font-size: 14px;
  }
  .filtro input {
    font-size: 12px;
  }
}
